{% extends "layout.html" %}
{% block nav %}

{% endblock %}

{% block main %}
<div class="mb-3">
    <h1>ログイン</h1>
</div>

<form>

    <div class="mb-3">
        <label for="exampleInputUsername" class="form-label">ユーザーID</label>
        <input type="text" required class="form-control" id="exampleInputUsername" name="user_id" placeholder="user id" formmethod="post">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword" class="form-label">パスワード</label>
        <input type="password" required class="form-control" id="exampleInputPassword" name="password" placeholder="password" formmethod="post">
    </div>
    <input class="btn btn-dark mb-3" type="submit" formaction="./login" formmethod="post" value="ログイン">

</form>

<a href="./register">
<div class="m-3">ユーザー登録がまだの方はこちら</div></a>

{% endblock %}