
{% extends "layout.html" %}
{% block main %}
<form action="/travel_register" method="post">
    <div class="container">
        <div class="m-3 p-3 ">
            <label for="exampleFormControlTextarea1" class="form-label pt-3">イベント名</label>
            <input class="form-control" type="text" required aria-label="default input example" name="event_name" formmethod="post">

            <div class="col py-5">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">場所</label>
                <input class="form-control" type="text" required aria-label="default input example" name="place" formmethod="post">
            </div>
            <div class="col py-5">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">金額</label>
                <input class="form-control" type="text" required aria-label="default input example" name="price" formmethod="post">
            </div>
            <div class="col py-5">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">支払ったユーザー</label>
                <input class="form-control" type="text" required aria-label="default input example" name="user_name" formmethod="post">
            </div>
            <p>   </p>

            <input class="btn btn-dark mb-3" type="submit" formaction="./payment_register" value="登録">

        </div>
    </div>
</form>
{% endblock %}