{% extends "layout.html" %}
{% block main %}
<form action="{{url_for('payment_register', trip_id=trip_id )}}" method="post">
    <div class="container">
        <div class="m-3 p-3 ">


            <label for="exampleFormControlTextarea1" class="form-label pt-3">支払いのイベント名</label>
            <input class="form-control" type="text" required aria-label="default input example" name="event_name" formmethod="post">

            <div class="col py-5">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">場所</label>
                <input class="form-control" type="text" name="place" formmethod="post">
            </div>
            <div class="col py-5">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">金額</label>
                <input class="form-control" type="text" required aria-label="default input example" name="price" formmethod="post">
            </div>

            <div class="col py-5 mb-5">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">支払ったメンバー</label>
                <input class="form-control" type="text" required aria-label="default input example" name="user_name" formmethod="post">
            </div>
            <div class="text-center">
            <button class="btn btn-dark mb-3 btn-lg" type="submit">支払いを登録する</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
