{% extends "layout.html" %}
{% block main %}
<div class="mb-2 text-center">
  <h1 class="fs-5 p-3" id ="travel">マネートラベルで旅行に行こう</h1>
  <button type="button" class="btn btn-dark mb-3 position-center" formaction="./top">旅行へ行く</button>
  <section class="item ">
    <h1 class="fs-2 p-3" id="past_travel">過去の旅行</h1>
  </section>
</div>
<div class="container m-0 p-0">
    <div class="row row-3 cols-3">
      <div class="card" style="width: 8rem;">
        <div class="card-body">
          <h5 class="card-title">旅行タイトル</h5>
          <p class="card-text">場所</p>
          <a href="#" class="btn btn-dark">見る</a>
        </div>
    </div>
      
      <div class="card" style="width: 8rem;">
        <div class="card-body">
          <h5 class="card-title">旅行タイトル</h5>
          <p class="card-text">場所</p>
          <a href="#" class="btn btn-dark">見る</a>
        </div>
      </div>
      <div class="card" style="width: 8rem;">
        <div class="card-body">
          <h5 class="card-title">旅行タイトル</h5>
          <p class="card-text">場所</p>
          <a href="#" class="btn btn-dark">見る</a>
        </div>
      </div>
      <div class="card" style="width: 8rem;">
        <div class="card-body">
          <h5 class="card-title">旅行タイトル</h5>
          <p class="card-text">場所</p>
          <a href="#" class="btn btn-dark">見る</a>
        </div>
      </div>
      <div class="card" style="width: 8rem;">
        <div class="card-body">
          <h5 class="card-title">旅行タイトル</h5>
          <p class="card-text">場所</p>
          <a href="#" class="btn btn-dark">見る</a>
        </div>
      </div>
      <div class="card" style="width: 8rem;">
        <div class="card-body">
          <h5 class="card-title">旅行タイトル</h5>
          <p class="card-text">場所</p>
          <a href="#" class="btn btn-dark">見る</a>
        </div>
      </div>
  </div>
  </div>
  </div>
  </div>
  </div>
    </div>
  </div>
{% endblock %}