{% extends "layout.html" %}
{% block main %}
<form action="/templates/travel_register" method="post">
    <div class="container">
        <div class="m-3 p-3">
            <div class="col py-4 mb-5">
                <label for="exampleFormControlTextarea1" class="form-label fs-5" id="trip_name">旅行名</label>
                <input class="form-control" type="text" required aria-label="default input example" formmethod="post">
            </div>
            <div class="col py-4">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">開始日</label>
                <input class="form-control" type="date" required aria-label="default input example" id="start_date" formmethod="post">
            </div>
            <div class="col py-5">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">終了日</label>
                <input class="form-control" type="date" required aria-label="default input example" id="end_date" formmethod="post">
            </div>

            <div class="py-5">
                <label for="exampleFormControlTextarea1" class="form-label　fs-5">メンバー招待</label>
            </div>
            <div class="text-center">
                <input class="btn btn-dark mb-3 btn-lg" type="submit" formaction="./travel" formmethod="post" value="旅行へ行く">
            </div>
        </div>
    </div>
</form>
{% endblock %}