{% extends "layout.html" %}
{% block main %}
<div class="container position-static mb-3">
    <ul class="list-unstyled text-center">
        <li class="mb-4 pt-3">
            <h1 class="fs-2"><旅行名><br>{{ trip_results.trip_name }}</h1>
        </li>
        <li class="mb-4 pt-3">
            <h1 class="fs-2"><開始日><br>{{ trip_results.start_date }}</h1>
        </li>
        <li class="mb-4 pt-3">
            <h1 class="fs-2"><終了日><br>{{ trip_results.end_date }}</h1>
        </li>
        <li class="mb-4 pt-3">
            <h1 class="fs-2"><旅行のメンバー><br>{% for user_result in user_results %}{{ user_result[1]+"  "}}{% endfor %}</h1>
        </li>
    </ul>
    <div class="container mb-3"></div>
    <div class="row row-3 cols-3">
        {% if payment_results != [0] %}
            {% for payment_result in payment_results %}
            <div class="card" style="width: 8rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ payment_result[5] }}</h5>
                    <p class="card-text">{{ payment_result[3] }}</p>
                    <button class="btn btn-dark" onclick="window.location.href='{{ url_for('payment_details', payment_id=payment_result[1]) }}';">見る</button>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <button class="btn btn-dark rounded-circle p-0" style="width:2rem;height:2rem;" onclick="window.location.href='{{ url_for('payment_register', trip_id=trip_results.trip_id) }}';">+</button>
    </div>
</div>
<div class="text-center">
    <h1 class="fs-2"><メンバー清算額比率></h1>
    <canvas id="myPieChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <button class="btn btn-dark btn-lg" onclick = "confirm()">清算</button>
    <script>
        let user_results = {{ user_results |tojson }};
        let payment_results = {{ payment_results |tojson }};
        let member_count = Number(user_results.length)
        var dic = {};
        var total = 0;
        if (Number(payment_results[0].length) > 1) {
            for (let i=0; i<member_count; i++){
                dic[user_results[i][1]] = 0
                for (let j=0; j < Number(payment_results.length); j++) {
                    if (user_results[i][0] == payment_results[j][0]){
                        dic[user_results[i][1]] += payment_results[j][3]
                    }
                }
                total += dic[user_results[i][1]]
            }
            for (let i=0; i<member_count; i++){
                dic[user_results[i][1]] = dic[user_results[i][1]]*100/total
            }

            var array = Object.keys(dic).map((k)=>({ key: k, value: dic[k] }));
            array.sort((a, b) => - a.value + b.value);
            dic = Object.assign({}, ...array.map((item) => ({
                [item.key]: item.value,
            })));

            var user_list = Object.keys(dic)
            var data_list = Object.values(dic)

            var ctx = document.getElementById("myPieChart");
            var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: user_list,
                datasets: [{
                    backgroundColor: [
                        "#BB5179",
                        "#FAFF67",
                        "#58A27C",
                        "#3C00FF",
                        "#DEB887",
                        "#48D1CC",
                        "#87CEEB",
                        "#9370DB",
                        "#FFC0CB"
                    ],
                    data: data_list
                }]
            },
            options: {
                title: {
                display: true,
                }
            }
            });
        }

        const confirm = () => {
        if (window.confirm('清算確定してもよろしいですか(確定後は変更できません)')) {
          window.location.href="{{ url_for('liquidation', member_count = user_results|length, trip_id=trip_results.trip_id) }}";
        };
        }
    </script>
</div>
</div>
{% endblock %}
